$font: 'Lobster', cursive

body
	margin: 0
	padding: 0
	.row
		margin:0
.header
	.logo 
		a
			font-family: $font
			font-size:50px
			color:#44c0c2
			&:hover
				color:#44c0c2
				text-decoration: none
.header				
	.menu
		.menu_button
			&:focus
				outline: none
		ul
			margin:0
			padding:0
			height:100%
			float: right
			li
				display: inline-block
				height:100%
				a
					height: 100%
					display: block
					padding:45px 24px
					color:#000
					border-bottom:2px solid rgba(0,0,0,0.0)
					&:hover
						background:#f8f9fb
						color:#44c0c2
						border-bottom:2px solid #49cbcd
						text-decoration: none
.slider-block
	.col-12
		padding:0
	.title
			font-size: 63px
			color: #fff
			margin:0
	.info
			font-size: 23px
			color: #fff
			margin-bottom:50px
	.button-block
			font-size: 26px
			color: #fff
			font-weight: 400
			padding:22px 40px
			border:3px solid #fff
			border-radius:7px
			letter-spacing:3px
	.carousel-caption
		bottom:0
		top:30%
.team
	.wrap
		text-align: center
		margin-bottom:20px
	.block-title
		margin-top:100px
		margin-bottom:140px
		p
			margin:0
			text-align: center
			font-size: 42px
			color: #4e525d
	.photo
		width:200px
		height:200px
		background:#eeeef0
		border-radius:50%
		margin-bottom: 70px
		display: inline-block
		&:hover:after
			content: '+'
			font-size:70px
			position: relative
			top:20%
			right:13%
			position: relative
			color: #de0000
		&:before
			content: '+'
			font-size:70px
			position: relative
			top:20%
			right:1%
			position: relative
			color: #de0000
			opacity:0
	p
		text-align: center
		color: #5f626c
		margin:0
	.myname
		font-size: 20px
	.position
		font-size: 15px
	p
		text-align: center
		color: #5f626c
		font-size: 15px
		white-space: pre-line
.rate
	.basic,
	.pro,
	.premium
		text-align: center
		ul
			padding:0
			li
				list-style-type: none
				padding:19px 0 16px 0
				color:#8c9299
				border-top:1px solid #ecf0f1
				border-left:1px solid #ecf0f1
				border-right:1px solid #ecf0f1
				font-size: 14px
			li:last-child
				border-bottom:1px solid #ecf0f1
		.head
			font-size:26px
			padding:29px 0
			background:#485460
			color:#fff
			margin:0
		.price
			background:#f8f9fb
			color:#485460
			margin:0
			padding:29px 0 25px 0